     html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 20vh;
            }

            .flex-center {
                display: flex;
				align-items:flex-start;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right{
                position: absolute;
                right: 40px;
                top: 50px;
            }
 		
 	    .content {
                text-align: center;
				
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }
			
	   
            .m-b-md {
                     margin-top:10px;
				padding-bottom:100px;
            }
					
			#bnav,#rnav {
			  background-color:#2196F3;
			  padding:8px 20px 8px 20px;
			  border-radius: 5px;
			}
			
			#Logonav
			{
			
		     float:left;
			}
			
			#bnav:hover,#browse:hover
			{
			opacity: 0.5;
			}
			#rnav:hover 
			{
			background-color:#CDCDCD;
			}
			
			#browse
			{
			
				padding: 50px 150px 50px 150px;
				box-shadow: 5px 10px 8px #888888;
				background-color:#2196F3;
				border-radius:5px;
			}

 			.card {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              max-width: 200px;
              margin-top: 20px;
              text-align: center;
              font-family: arial;
              display:inline-block;
              padding: 12px 50px;

            }

            .price {
              color: grey;
              font-size: 22px;
            }

            .card button {
              border: none;
              outline: 0;
              padding: 12px;
              color: black;
              background-color: #DCDCDC;
              text-align: center;
              cursor: pointer;
              width: 100%;
              font-size: 18px;
            }

            .card button:hover {
              opacity: 0.7;
            }
			
			#Ctext {
				background-color: #d4af37;       
				width:50%;
				margin:auto;
				color:white;
				box-shadow: 5px 10px 8px #888888;
					
					}
			
              #add
			  {
				  
				  background-color:blue;   
			  }

			  #create 
			  {
				padding:10px;
				background-color:#2196F3;
				text-decoration:none;
				color:white;
				box-shadow: 5px 10px 8px #888888;
			  }
			  #create:hover
			  {
				  opacity:0.5;
			  }
			  
			  #addtoCart
			  {
				background-color:#2196F3;
			  }
			  
			  #delete
			  {
				 background-color:#FF614E;
			  }
			  #edit
			  {
				 
				 text-decoration:none;
				 color:black;
				 
			  }
			